<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Theisen | Data science and beyond</title>
      <style>
 #mapid { 
height: 600px;
width: "100%";
position: relative;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 1em;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

  #sortable1, #sortable2 {
    border: 3px solid #737373;
    width: 240px;
    min-height: 20px;
    list-style-type: none;
    padding: 5px 0 0 0;
    margin-left:auto;
    margin-right:auto;
    display: center;
  }
  #sortable1 li, #sortable2 li {
    border: 1px solid #eee;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 228px;
    display: center;
    background-color: #EDEDED;
  }
  #pressable {
    margin:auto;
  display:block;
}
.centerBlock {
  display: table;
  margin: 0 auto;
}
  </style>

  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
table, th, td {
    border: 1px solid black;
}
</style>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="http://www.matthewtheisen.com/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="http://www.matthewtheisen.com/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="http://www.matthewtheisen.com/css/style3.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://www.matthewtheisen.com/js/LA.js"></script>
  <script src="http://www.matthewtheisen.com/js/data.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable",
      stop: function (event,ui) {submit()}
    })
  });

var ranker =2;
var scorer =2;

</script>


</head>


<body>
	<div class="jumbotron home home-fullscreen" id="home">
		<div class="container">
			<div class="header-info">
				<h1>Los Angeles</h1>
				<p>Find your neighborhood
				</p>
			</div>
		</div>
	</div>
	<!-- Services section start -->




<div class="container" data-html="true">
  <div class="row">
    <div class="col-md-12"><p><h2>Neighborhood Ranker</h2></p></div>
  </div>
  <div class="row">
     <div class="col-md-12"><p>The neighborhood ranker will rank neighborhoods according to your chosen criteria. Select your criteria by dragging the feature boxes into the rank column and clicking Submit. Make sure to rank-order your features in the order of importance.</p></div>
  </div>
  <div class="row">
      <div id = "mapid" class="col-sm-8"><p></p></div>
      <div class="col-sm-4"> 
        <div class="text-center">
          <p><h1>Features</h1></p>
          <ul id="sortable1" class="connectedSortable">
            <li class="ui-state-default" name="prop-crime">Property Crime</li>
            <li class="ui-state-default" name="viol-crime">Violent Crime</li>
            <li class="ui-state-default" name="air-qual">Air Quality</li>
            <li class="ui-state-default" name="school-qual">School Quality</li>
            <li class="ui-state-default" name="pop-dens-h">Population Density (Hi)</li> 
            <li class="ui-state-default" name="pop-dens-l">Population Density (Lo)</li> 
            <li class="ui-state-default" name="rest-dens">Restaurant Density</li>
            <li class="ui-state-default" name="buy-price">Price to Buy</li>
            <li class="ui-state-default" name="rent-price">Price to Rent (2B)</li> 
            <li class="ui-state-default" name="walk-score">Walkability</li>
          </ul>
        <p><h1>Rank</h1></p>
        <ul id="sortable2" class="connectedSortable"> </ul>
      </div>
    </div>
  </div>
</div>

<br>

<br>

<script>
var mymap = L.map('mapid').setView([34, -118.5], 11);
L.tileLayer('https://api.mapbox.com/styles/v1/mtheisen/citei76iz005f2jpac8g7ilcl/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibXRoZWlzZW4iLCJhIjoiY2l0ZWk0NTBoMDVmMDJ0bXlyNmxzZ3RnMyJ9.fErHtcHVcTsHCLMPN1ZcQg', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mtheisen',
    accessToken: 'pk.eyJ1IjoibXRoZWlzZW4iLCJhIjoiY2l0ZWk0NTBoMDVmMDJ0bXlyNmxzZ3RnMyJ9.fErHtcHVcTsHCLMPN1ZcQg'
}).addTo(mymap);
var geojson;
// ... our listeners
 function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }
    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}

geojson=L.geoJson(neighbData, {style: style,
  onEachFeature: onEachFeature
  }).addTo(mymap);


function getColor(d) {
    
    return d > 90 ? '#007913' :
           d > 80 ? '#01980D' :
           d > 70 ? '#53A700' :
           d > 60  ? '#82AF00' :
           d > 50  ? '#C8E700' :
           d > 40  ? '#E7D200' :
           d > 30   ? '#FD8D3C' :
           d > 20   ? '#E79000' :
           d > 10   ? '#E76D00' :
                      '#CE3B00';
}

function style(feature) {
    return {
        fillColor: getColor(70),
        weight: 2,
        opacity: 1,
        color: 'gray',
        fillOpacity: 0.25
    };
}

function style2(feature) {
    return {
        fillColor: getColor(100-ranker[feature.properties.name]/1.55),
        weight: 2,
        opacity: 1,
        color: 'gray',
        fillOpacity: 0.25
    };
}


function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

var info = L.control();

info.onAdd = function (mymap) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the control based on feature properties passed
info.update = function (props) {
    this._div.innerHTML = '<h4>Neighborhood Name</h4>' +  (props ?
        '<b>' + neighbname[props.name] + '</b><br/>' + getstr(props.name)
        : 'Hover over a neighborhood');
};

function getcol() {

  var ul = document.getElementById("sortable2");
  var items = ul.getElementsByTagName("li");
  var tosend = []
  for (var i = 0; i < items.length; ++i) {
    tosend.push(items[i].getAttribute("name") )
    }
  return tosend
}

function getstr(namey) {
  s = ''
  var tosend = getcol()
  if (ranker!=2) {
    s = s.concat('<b>Rank: </b>')
    s = s.concat(ranker[namey])
    s = s.concat('<br/>')
    s = s.concat('<b>Score: </b>')
    s = s.concat(scorer[namey])
    s = s.concat('<br/>')
    for (i=0;i<tosend.length;i++) {
      s = s.concat('<b>')
      s = s.concat(stemlist[ tosend[i] ])
      s = s.concat(': </b>')
      s = s.concat(datalist [ tosend[i] ] [ namey ] )
      s = s.concat('<br/>') 
    }
  }
return s
}

info.addTo(mymap);

</script>

<script>
function getranks(arr) {
  var sorted = arr.slice().sort(function(a,b){return b-a})
  var ranks = arr.slice().map(function(v){ return sorted.indexOf(v)+1 });
  return ranks
};

function submit() {
var tosend = getcol()

console.log(tosend)

  $.getJSON('/appy/_neighb_rank', {
          colnames: tosend
        }, function(data) {
  scorer = {}
  ranker = {}
  ranks = getranks(data)

  for (i=0;i<data.length;i++) {
    scorer[ neighborder[i] ] = data[i]
    ranker[ neighborder[i] ] = ranks[i]
    }

  geojson.clearLayers();
  geojson = L.geoJson(neighbData, {style: style2,
  onEachFeature: onEachFeature
  }).addTo(mymap);
  }
)
}
</script>

<div class="row">
  <div class="col-sm-12">
    <div class="centerBlock">
      <img class="img-responsive" src="http://www.matthewtheisen.com/img/help.png"> </img>
    </div>
  </div>
</div>

<br><br>

<div class="container" data-html="true">
  <div class="row">
    <div class="col-md-12"><p>Data for this project comes from the <a href="http://www.mappingla.com">LA Times</a>, <a href="http://www.yelp.com">Yelp</a>, <a href="https://developers.google.com/maps/documentation/geocoding/start">Google Geocoding</a>, <a href ="http://www.zillow.com/howto/api/APIOverview.htm">Zillow</a>, <a href = "http://www.greatschools.org/">GreatSchools</a>, <a href="http://www.rent.com">Rent.com</a>, <a href="http://www.padmapper.com">Padmapper</a>, <a href="https://www.neighborhoodscout.com">NeighborhoodScout</a>, <a href="http://www.walkscore.com">Walkscore</a> and <a href="http://www3.aqmd.gov/webappl/gisaqi2/VEMap3D.aspx">SCAQMD</a>. </p>

    <p>Mapping is accomplished with <a href="http://www.leafletjs.com">leaflet.js</a> and <a href="http://www.mapbox.com">Mapbox</a>. Rank is calculated server-side via <a href="http://flask.pocoo.org/">Python Flask</a> web framework.</p>

    <p>Learn more about the <a href="https://beyonddatascience.wordpress.com/2016/10/06/ranking-neighborhoods-in-los-angeles/">ranking algorithm</a>.</p>
    </div>

  </div>
</div>

	<!-- Load Booststrap -->
	<script type="text/javascript" src="http://www.matthewtheisen.com/js/bootstrap.js"></script>
	<script type="text/javascript" src="http://www.matthewtheisen.com/js/smooth-scroll.js"></script>
</body>
</html>
